body {
  font-family: 'Lucida Grande', Verdana, sans-serif;
  color: white;
  background-color: #2C3539;
}

.kitchen-background {
  padding: 6em 0;
  background-image: url('../images/kitchen-crop.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 60em;
}

.kitchen-background h1 {
  text-align: center;
  margin-top: 1em;
  font-size: 3em;
}

.menu {
  height: 36px;
  width: auto;
  font-size: 20px;
  text-align: center;
  margin: 10px auto;
}

.active {
    text-decoration: none;
}

.home {
  text-align: left;
  margin: auto 8em;
  font-size: 24px;
  font-weight: bold;
}

.text-through {
  text-decoration: line-through;
}

.input {
  margin: auto;
  text-align: center;
  margin-top: 0.5em;
  font-size: 1.5em;
  margin-bottom: 0.5em;
}

button, input {
  font-size: 0.75em;
}

.shopping-list {
  padding: 0;
  width: 60%;
  margin: auto;
  background-color: #F0E68C;
  font-size: 1.25em;
}

.shopping-list li {
  height: 1.25em;
  list-style-type: none;
  text-align: left;
  text-align: bottom;
  padding-top: 1em;
  padding-left: 0.5em;
  border-bottom: 2px solid black;
  color: black;
}

.shopping-list li:checked {
  text-decoration: strikethrough;
}

.shopping-list .delete {
  display: inline-block;
}

.delete {
  float: right;
  margin-right: 0.5em;
  background-color: red;
  cursor: pointer;
}

.delete-div {
  margin-top: -0.5em;
  width: 6em;
  float: right;
  opacity: 0;
}

.delete-div:hover {
  opacity: 1;
}

.footer {
  margin: auto;
  text-align: center;
  margin-top: 0.5em;
  font-size: 1.5em;
  margin-bottom: 0.5em;
}

.error {
  margin: auto;
  text-align: center;
  margin: 0.5em auto;
  width: 20em;
  font-size: 1.5em;
  color: red;
  font-weight: bold;
  background-color: white;
}
/* -------ANIMATIONS------- */

/* pages ---------------------- */
.page.ng-leave {
    -webkit-animation:slideOutLeft 0.35s both ease-in;
    -moz-animation:slideOutLeft 0.35s both ease-in;
    animation:slideOutLeft 0.35s both ease-in;
}

.page.ng-enter {
    -webkit-animation:slideInRight 0.35s both ease-in;
    -moz-animation:slideInRight 0.35s both ease-in;
    animation:slideInRight 0.35s both ease-in;
    animation-delay: 0.35s;
}

/* slide in from the bottom */
@keyframes slideOutLeft {
  to    { transform: translateX(-100%); }
}
@-moz-keyframes slideOutLeft {
  to    { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes slideOutLeft {
  to    { -webkit-transform: translateX(-100%); }
}

/* slide in from the right */
@keyframes slideInRight {
  from  { transform:translateX(100%); }
  to    { transform: translateX(0); }
}
@-moz-keyframes slideInRight {
  from  { -moz-transform:translateX(100%); }
  to    { -moz-transform: translateX(0); }
}
@-webkit-keyframes slideInRight {
  from  { -webkit-transform:translateX(100%); }
  to    { -webkit-transform: translateX(0); }
}

@media only screen and (max-width: 500px) {
    .kitchen-background h1 {
        font-size: 2.5em;
    }
    .shopping-list {
      width: 80%;
      font-size: 1em;
    }
    .error {
      width: 10em;
    }
}

