body {
  font-family: 'Lucida Grande', Verdana, sans-serif;
  color: #fffff8;
  background-color: #2C3539; /* dark grey */
}

.kitchen-background {
  padding: 1em 0;
  background-image: url('../images/kitchen-crop.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 60em;
}

.kitchen-background h1 {
  text-align: center;
  margin-top: 1em;
  font-size: 3em;
}
 h1 {
  margin: 0.5em auto;
 }

.menu {
  height: auto;
  width: 20em;
  font-size: 20px;
  text-align: center;
  margin: 1em auto;
  background-color: #779299;
  padding: 0.5em auto;
}

a {
  text-decoration: none;
  color: black;
}


.active {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.home {
  text-align: center;
  margin: auto;
  font-size: 24px;
  font-weight: bold;
  color: black;
}

.text-through {
  text-decoration: line-through;
}

.input {
  margin: auto;
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 0.5em;
}

.item {
  font-size: 0.75em;
  height: 1.6em;
  background-color: #C3C3C2;
  color: black;
}

.container {
  background-color: #fffff8;
  padding: 1em 0;
  width: 50%;
  margin: auto;
}

.list-heading {
  color: #779299;
  margin: 0 auto;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

.shopping-list {
  padding: 0;
  width: 95%;
  margin: auto;
  background-color: #F0E68C;
  font-size: 1.25em;
}

.shopping-list li {
  height: auto;
  list-style-type: none;
  text-align: left;
  padding: 0.25em 0.5em;
  border-bottom: 2px solid black;
  color: black;
}

.shopping-list .delete {
  display: inline-block;
}

.delete {
  float: right;
  margin-top: 0.5em;
  margin-right: 0.5em;
  background-color: red;
  cursor: pointer;
}

.delete-div {
  margin-top: -0.5em;
  width: 6em;
  float: right;
  opacity: 0;
}

.delete-div:hover {
  opacity: 1;
}

.footer {
  margin: auto;
  text-align: center;
  margin-top: 0.5em;
  font-size: 1.5em;
  margin-bottom: 0.5em;
}

.error {
  margin: auto;
  text-align: center;
  margin: 0.5em auto;
  width: 20em;
  font-size: 1.5em;
  color: red;
  font-weight: bold;
  background-color: white;
}
.shadow {
  box-shadow: -1px 1px 2px 3px white;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown .dropdown-menu {
    position: absolute;
    top: -100%;
    display: none;
    margin: 0;

    /****************
     ** NEW STYLES **
     ****************/

    list-style: none; /** Remove list bullets */
    width: 100%; /** Set the width to 100% of it's parent */
    padding: 0;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

/** Button Styles **/
.dropdown button, button {
    background: #779299;
    color: #FFFFFF;
    border: none;
    margin: 0.25em auto;
    padding: 0.4em 1.3em;
    font-size: 0.85em;
}

.dropdown button:hover {
  cursor: none;
}

/** List Item Styles **/
.dropdown li {
    display: block;
    padding: 0.2em 0.8em;
    text-decoration: none;
    background: #CCCCCC;
    color: #333333;
    font-size: 0.75em;
    cursor: alias;
}

/** List Item Hover Styles **/
.dropdown li:hover {
    background: #BBBBBB;
}
/* -------ANIMATIONS------- */

/* pages ---------------------- */
.page.ng-leave {
    -webkit-animation:slideOutLeft 0.35s both ease-in;
    -moz-animation:slideOutLeft 0.35s both ease-in;
    animation:slideOutLeft 0.35s both ease-in;
}

.page.ng-enter {
    -webkit-animation:slideInRight 0.35s both ease-in;
    -moz-animation:slideInRight 0.35s both ease-in;
    animation:slideInRight 0.35s both ease-in;
    animation-delay: 0.35s;
}

/* slide in from the bottom */
@keyframes slideOutLeft {
  to    { transform: translateX(-100%); }
}
@-moz-keyframes slideOutLeft {
  to    { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes slideOutLeft {
  to    { -webkit-transform: translateX(-100%); }
}

/* slide in from the right */
@keyframes slideInRight {
  from  { transform:translateX(100%); }
  to    { transform: translateX(0); }
}
@-moz-keyframes slideInRight {
  from  { -moz-transform:translateX(100%); }
  to    { -moz-transform: translateX(0); }
}
@-webkit-keyframes slideInRight {
  from  { -webkit-transform:translateX(100%); }
  to    { -webkit-transform: translateX(0); }
}

@media only screen and (max-width: 500px) {
  .kitchen-background h1 {
      font-size: 2.5em;
  }
  .shopping-list {
    width: 80%;
    font-size: 1em;
  }
  .error {
    width: 10em;
  }
  .container {
    width: 95%;
  }
}

@media only screen and (max-width: 1000px) {
  .container {
      width: 60%;
  }
}

